<footer class="footer">
  <div class="container content has-text-centered">

    <nav class="level">
      <a class="level-item" href="https://github.com/philipbelesky/groundhog">
        <i data-feather="github"></i> Github
      </a>
      <a class="level-item" href="">
        <i data-feather="download-cloud"></i> Food4Rhino
      </a>
      <a class="level-item" href="">
        <i data-feather="message-circle"></i> Forum
      </a>
      <a class="level-item" href="https://www.facebook.com/groundhog.la/">
        <i data-feather="facebook"></i> Facebook
      </a>
      <a class="level-item" href="https://twitter.com/groundhog_la">
        <i data-feather="twitter"></i> Twitter
      </a>
    </nav>

    <p class="">
      <em>Website content, source code, and models are ©{{ 'now' | date: "%Y" }} under the terms of the <a href="https://opensource.org/licenses/GPL-3.0">GPL v3 License</a>.</em>
    </p>

  </div>
</footer>