
<nav class="navbar" role="navigation" aria-label="main navigation">

  <div class="navbar-brand">

    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Groundhog" width="112" height="28">
    </a>

    <button class="button navbar-burger" data-target="navMenuDocumentation">
      <span></span>
      <span></span>
      <span></span>
    </button>

  </div>

  <div class="navbar-menu" id="navMenuDocumentation" role="navigation" aria-label="main navigation">

    <div class="navbar-start">
      <a class="navbar-item gh-plugin-text" href="/plugin/">
        Plugin Download
      </a>
      <a class="navbar-item gh-documentation-text" href="/plugin/">
        Plugin Documentation
      </a>
      <a class="navbar-item gh-techniques-text" href="/techniques/">
        Techniques
      </a>
      <a class="navbar-item gh-projects-text" href="/projects/">
        Projects
      </a>
    </div>

  </div>

</nav>
