
  <nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-brand">

      <a class="navbar-item" href="/">
        <img src="http://static.food4rhino.com/s3fs-public/styles/thumbnail/public/users-files/daniel-piker/app/klogosquare.png?itok=pmlw67gV" alt="Groundhog" width="28" height="28">
        Groundhog
      </a>

      <button class="button navbar-burger" data-target="navMenuDocumentation">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </div>

    <div class="navbar-menu" id="navMenuDocumentation" role="navigation" aria-label="main navigation">

      <div class="navbar-start">
        <a class="navbar-item gh-plugin-text" href="/plugin/">
          Plugin
        </a>
        <a class="navbar-item gh-documentation-text" href="/documentation/">
          Documentation
        </a>
        <a class="navbar-item gh-techniques-text" href="/techniques/">
          Techniques
        </a>
        <a class="navbar-item gh-projects-text" href="/projects/">
          Projects
        </a>
        <a class="navbar-item" href="/about/">
          About
        </a>
      </div>

    </div>

  </nav>
