{#

{% set component = site.data.components[include.title] %}
<div class="card gh-component">
<div class="card-content">


<div class="level is-mobile">

<div class="level-left">

<div class="level-item">
<div class="tags has-addons">
<div class="tag is-medium has-text-weight-bold">{{ component.name }}</div>
<div class="tag is-medium">Component</div>
</div>
</div>

</div>

<div class="level-right">

<div class="level-item"><div class="tags has-addons">
<div class="tag is-medium">Nickname</div>
<div class="tag is-medium has-text-weight-bold">{{ component.nickname }}</div>
</div></div>

<div class="level-item"><div class="tags has-addons">
<div class="tag is-medium">Panel</div>
<div class="tag is-medium has-text-weight-bold">{{ component.subcategory }}</div>
</div></div>

<div class="level-item"><div class="tags has-addons">
<div class="tag is-medium">Icon</div>
<div class="tag is-medium"><img src="{{ config.base_url }}{{ '/assets/plugin/icons/' | append: component.icon }}" alt="Icon for the {{ component.nickname }} component"></div>
</div></div>

</div>

</div>

<p class=""><em>{{ component.description }}</em></p>

<table class="table is-size-7">
<thead>
<tr>
<th>Mode</th>
<th>Name</th>
<th>ID</th>
<th>Description</th>
<th>Optional</th>
<th>Type</th>
</tr>
</thead>
<tbody>
{% for param in component.inputs %}
<tr>
<td class="no-wrap"><i data-feather="log-in"></i><strong></strong></td>
<td class="no-wrap">{{ param.name }}</td>
<td><code>{{ param.id }}</code></td>
<td>{{ param.description }}</td>
<td>{% if param.optional == true %}<i data-feather="check"></i>{% else %}<i data-feather="x"></i>{% endif %}</td>
<td class="no-wrap"><code>{{ param.type }}</code></td>
</tr>
{% endfor %}
{% for param in component.outputs %}
<tr>
<td class="no-wrap"><i data-feather="log-out"></i><strong></strong></td>
<td class="no-wrap">{{ param.name }}</td>
<td><code>{{ param.id }}</code></td>
<td>{{ param.description }}</td>
<td><i data-feather="minus"></i></td>
<td class="no-wrap"><code>{{ param.type }}</code></td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>

#}