# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
# For LFS
*.3dm filter=lfs -text
site/**/*.png filter=lfs diff=lfs merge=lfs -text
site/**/*.jpg filter=lfs diff=lfs merge=lfs -text
