
// Icons
.feather {
  margin-right: 5px;
}

// Icons in alerts
.gh-message-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-right: 4px;

  .feather {
    margin-right: 0;
  }
}

.button .feather {
  margin-bottom: -6px;
}

// Spacing tweaks in messages
.message-body p .feather {
  margin-bottom: -6px;
}

// Sizing tweaks for homepage titles
h3 .feather {
  height: 36px;
  margin-bottom: -4px;
  width: 36px;
}


// Spacing tweaks in project tags
.subtitle .feather {
  margin-bottom: -4px;
}

// Spacing tweaks in mobile menu
.navbar-menu.is-active .feather {
  margin-bottom: -5px;
}
