<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="4.2.1" targetFramework="net45" developmentDependency="true" />
  <package id="Grasshopper" version="6.1.18037.13441" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net45" />
  <package id="RhinoCommon" version="6.1.18037.13441" targetFramework="net462" />
  <package id="Sentry" version="2.1.5" targetFramework="net462" />
  <package id="Sentry.PlatformAbstractions" version="1.1.1" targetFramework="net462" />
  <package id="Sentry.Protocol" version="2.1.5" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
</packages>