//------------------------------------------------------------------------------
// Type
//------------------------------------------------------------------------------

.content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-heading;
    font-weight: 800;
  }

  .subtitle {
    font-weight: 400;
  }
}

.button,
.message {
  font-family: $family-heading;
  font-weight: 600;
}

// Don't load an extra web font just for italics
em {
  font-family: $family-heading;
}

//------------------------------------------------------------------------------
// Elements
//------------------------------------------------------------------------------

.content figure img {
  width: 100%; // Can trust the responsive images to always fit at max
}

.content figure.gh-figure {
  margin-left: 0;
  margin-right: 0;

  figcaption {
    font-style: normal;
    line-height: 1.33;
    padding: .5rem 2rem 0;
    overflow-x: hidden; // Can blow out widths on mobile
    // Use the emphasis part as a proxy for the attribution
    em {
      @extend .is-size-7;
      display: block;
      margin: 0 auto;
    }
    p + em {
      margin-top: -.5rem;
    }
  }
}

.content figure.gh-figure + figure.gh-figure {
  margin-top: -1.5em; // Subsequent images have tight spacing
}

@media only screen and (max-width : 768px) {
  .content figure.gh-figure figcaption {
    padding: .5rem .5rem 0; // Reduce caption padding on mobile
  }
}

.gh-component {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  @include until($tablet) {
    overflow-x: scroll; // Blown out wrappings can mess up entire page
  }

  .card-content {
    padding: 1rem; // Reduce padding around tables
  }

  .level {
    margin-bottom: 0.25rem; // Reduce padding to subtitle
  }

  table tbody tr:last-child td {
    border-bottom-width: 1px; // Override inherited; adds bottom border to table
  }

  .level-item:last-child {
    margin-right: 0;
  }

  .feather {
    margin: 0 0 -6px 0;
  }

}

.no-wrap {
  white-space: nowrap; // For table cells
}
