//------------------------------------------------------------------------------
// Type
//------------------------------------------------------------------------------

.content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $family-heading;
    font-weight: 800;
  }

  .subtitle {
    font-weight: 400;
  }
}

.button,
.message {
  font-family: $family-heading;
  font-weight: 600;
}

// Don't load an extra web font just for italics
em {
  font-family: $family-heading;
}

//------------------------------------------------------------------------------
// Elements
//------------------------------------------------------------------------------

.content figure.gh-figure {
  margin-left: 0;
  margin-right: 0;

  figcaption {
    font-style: normal;
    line-height: 1.33;
    padding: 0.5rem 3rem 0;
    // Use the emphasis part as a proxy for the attribution
    em {
      @extend .is-size-7;
      display: block;
      margin: 0 auto;
    }
    p + em {
      margin-top: -.5rem;
    }
  }
}

.content figure.gh-figure + figure.gh-figure {
  margin-top: -1.5em; // Subsequent images have tight spacing
}

.gh-component {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  overflow: scroll; // Blown out wrappings can mess up entire page

  p {
    margin-top: 1rem;
  }

  .level,
  .table {
    margin-bottom: 0;
  }

  .level-item:last-child {
    margin-right: 0;
  }

}

.no-wrap {
  white-space: nowrap; // For table cells
}
