// Nav Menu Overrides
.navbar-item {

  &.gh-plugin-text {
    color: $plugin;

    &:hover, &.active {
      background: $plugin;
      color: $white;
    }
  }
  &.gh-documentation-text {
    color: $documentation;

    &:hover, &.active {
      background: $documentation;
      color: $white;
    }
  }
  &.gh-techniques-text {
    color: $techniques;

    &:hover, &.active {
      background: $techniques;
      color: $white;
    }
  }
  &.gh-projects-text {
    color: $projects;

    &:hover, &.active {
      background: $projects;
      color: $white;
    }
  }
  &.gh-about-text {
    color: $about;

    &:hover, &.active {
      background: $about;
      color: $white;
    }
  }

}

.gh-plugin {
  @extend .is-dark;
  color: #fff;
}
.gh-documentation {
  @extend .is-danger;
}
.gh-techniques {
  @extend .is-info;
}
.gh-projects {
  @extend .is-primary;
}
.gh-about {
  @extend .is-link;
}

.gh-plugin-content a {
  color: $plugin;
}
.gh-documentation-content a {
  color: $documentation;
}
.gh-techniques-content a {
  color: $techniques;
}
.gh-projects-content a {
  color: $projects;
}
.gh-about-content a {
  color: $about;
  }