//------------------------------------------------------------------------------
// General Colors
//------------------------------------------------------------------------------

.gh-plugin {
  @extend .is-dark;

  .title, .subtitle, p {
    color: $text-bg !important;
  }
}

.gh-documentation {
  @extend .is-danger;

  .title, .subtitle, p {
    color: $text-bg !important;
  }
}

.gh-techniques {
  @extend .is-info;

  .title, .subtitle, p {
    color: $text-bg !important;
  }
}

.gh-projects {
  @extend .is-primary;

  .title, .subtitle, p {
    color: $text-bg !important;
  }
}

.gh-about {
  @extend .is-link;

  .title, .subtitle, p {
    color: $text-bg !important;
  }
}

.gh-plugin-content {
  a,
  code,
  .footnotes {
    color: darken($plugin, 15%);
  }
}

.gh-documentation-content {
  a,
  code,
  .footnotes {
    color: darken($docs, 15%);
  }
}

.gh-techniques-content {
  a,
  code,
  .footnotes {
    color: darken($techniques, 15%);
  }
}

.gh-projects-content {
  a,
  code,
  .footnotes {
    color: darken($projects, 15%);
  }
}

.gh-about-content {
  a,
  code,
  .footnotes {
    color: darken($about, 15%);
  }
}

//------------------------------------------------------------------------------
// Menu Colors
//------------------------------------------------------------------------------

.navbar-item {

  &.gh-plugin-text {
    color: $plugin;

    &:hover,
    &.active {
      background: $plugin;
      color: $white;
    }
  }

  &.gh-documentation-text {
    color: $docs;

    &:hover,
    &.active {
      background: $docs;
      color: $white;
    }
  }

  &.gh-techniques-text {
    color: $techniques;

    &:hover,
    &.active {
      background: $techniques;
      color: $white;
    }
  }

  &.gh-projects-text {
    color: $projects;

    &:hover,
    &.active {
      background: $projects;
      color: $white;
    }
  }

  &.gh-about-text {
    color: $about;

    &:hover,
    &.active {
      background: $about;
      color: $white;
    }
  }
}
