//------------------------------------------------------------------------------
// General Colors
//------------------------------------------------------------------------------

.gh-plugin {
  @extend .is-dark;
}
.gh-documentation {
  @extend .is-danger;
}
.gh-techniques {
  @extend .is-info;
}
.gh-projects {
  @extend .is-primary;
}
.gh-about {
  @extend .is-link;
}

.gh-plugin-content {
  a, code {
    color: $plugin;
  }
}
.gh-documentation-content {
  a, code {
    color: $docs;
  }
}
.gh-techniques-content {
  a, code {
    color: $techniques;
  }
}
.gh-projects-content {
  a, code {
    color: $projects;
  }
}
.gh-about-content {
  a, code {
    color: $about;
  }
}

//------------------------------------------------------------------------------
// Menu Colors
//------------------------------------------------------------------------------

.navbar-item {

  &.gh-plugin-text {
    color: $plugin;

    &:hover, &.active {
      background: $plugin;
      color: $white;
    }
  }
  &.gh-documentation-text {
    color: $docs;

    &:hover, &.active {
      background: $docs;
      color: $white;
    }
  }
  &.gh-techniques-text {
    color: $techniques;

    &:hover, &.active {
      background: $techniques;
      color: $white;
    }
  }
  &.gh-projects-text {
    color: $projects;

    &:hover, &.active {
      background: $projects;
      color: $white;
    }
  }
  &.gh-about-text {
    color: $about;

    &:hover, &.active {
      background: $about;
      color: $white;
    }
  }
}
