// Customise Groundhog Brand Colors
$plugin: $green;
$documentation: $purple;
$techniques: $cyan;
$projects: $turquoise;

$link: black;

// Customise Typography
$body-size: 18px;
$body-line-height: 1.66;

// Customise Layout
$notification-padding: 1.25rem 1.25rem 1.25rem 1.5rem; // By default pr is 2.5