// Homepage
.gh-info-boxes {
  min-height: 120px; // Equalise paragraph heights; should fix with flexbox
}

// Header Overrides
#logo {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-bottom: -2px;
}

.navbar-end .navbar-item {
  padding-left: 9px; // Tighten spacing for social icons
  padding-right: 9px;
  color: #666;
}



// Layout
.is-small { // Add additional layout class to extend bulma's .is-medium etc
  padding-top: 1.5rem;
  padding-bottom: 0;
}

// Footer Overrides
.footer {
  padding-bottom: 3rem;
}

// Sticky Footer
.footer-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.footer-pushdown {
  flex: 1;
}