<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include structural/head.html %}
  <body>

    {% assign current = page.url | downcase | split: '/' %}

    {% include structural/menu.html %}

    <main class="content gh-{{ current[1] }}-content is-fluid footer-pushdown" aria-label="Content">
      {{ content }}
    </main>

    {% include structural/footer.html %}

  </body>

  <script src="{{ site.baseurl }}/assets/main.js"></script>
  <script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>

</html>
