---
layout: default
---

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Groundhog
      </h1>
      <h2 class="subtitle">
        Groundhog explores the use of computational design in landscape architecture. It is a Grasshopper plugin, a set of reference models, and wiki documenting techniques and their applications.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">

      <div class="column">
        <h2>Components</h2>
        {% for component in site.components %}
          <h4><a href="{{ component.url }}">{{ component.title }}</a></h4>
        {% endfor %}

        <a href="{{ site.baseurl }}{% link plugin.md %}">Component Documentation</a>
      </div>

      <div class="column">
        <h2>Techniques</h2>
        {% for technique in site.techniques %}
          <h4><a href="{{ technique.url }}">{{ technique.title }}</a></h4>
        {% endfor %}
        <a href="{{ site.baseurl }}{% link techniques.md %}">All Techniques</a>
      </div>

      <div class="column">
        <h2>Projects</h2>
        {% for project in site.projects %}
          <h4><a href="{{ project.url }}">{{ project.title }}</a></h4>
        {% endfor %}
        <a href="{{ site.baseurl }}{% link projects.md %}">All Projects</a>
      </div>

    </div>
  </div>
</section>

<section class="section">

  <div class="tile is-ancestor">

    <div class="tile is-vertical is-8">

      <div class="tile">

        <div class="tile is-parent is-vertical">
          <a class="tile is-child notification gh-plugin-bg">
            <span class="tag is-light is-medium is-pulled-right">Plugin</span>
            <p class="title">Version 0.6</p>
            <p class="subtitle">Top tile</p>
          </a>
          <a class="tile is-child notification gh-documentation-bg">
            <span class="tag is-light is-medium is-pulled-right">Component</span>
            <p class="title">Component</p>
            <p class="subtitle">Bottom tile</p>
          </a>
        </div>

        <div class="tile is-parent">
          <a class="tile is-child notification gh-projects-bg">
            <span class="tag is-light is-medium is-pulled-right">Project</span>
            <p class="title">Project tile</p>
            <p class="subtitle">With an image</p>
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/640x480.png">
            </figure>
          </a>
        </div>

      </div>

      <div class="tile is-parent">
        <a class="tile is-child notification gh-techniques-bg">
            <span class="tag is-light is-medium is-pulled-right">Technique</span>
          <p class="title">Technique tile</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <!-- Content -->
          </div>
        </a>
      </div>

    </div>

    <div class="tile is-parent">

      <a class="tile is-child notification gh-projects-bg" href="">
        <span class="tag is-light is-medium is-pulled-right">Project</span>
        <div class="content">
          <p class="title">Project</p>
          <p class="subtitle">With even more content</p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </a>

    </div>
  </div>

</section>