---
layout: default
---

<section class="section hero">
  <div class="hero-body is-small">
    <div class="container">
      <h1 class="title is-1">
        Groundhog
      </h1>
      <h2 class="subtitle">
        ... is a Grasshopper plugin, a set of reference models, and wiki exploring the applications of
        computational design techniques in landscape architecture.
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">

      {% for page in site.pages %}
        {% if page.category == 'top' %}
          <div class="column is-one-third has-text-centered">
            <h2 class="title is-3 gh-{{ page.title|downcase }}-content">
              <a href="">{{ page.title }}</a>
            </h2>
            <p class="gh-info-boxes">
              {{ page.excerpt }}
            </p>
            <a class="button is-outline is-block" href="{{ page.url }}">
              View {{ page.title }} <i data-feather="chevrons-right"></i>
            </a>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>

<section class="section is-small">
  <div class="container">
    <div class="columns masonry-grid" data-masonry='{ "itemSelector": ".masonry-item" }'>

      <div class="column is-one-third masonry-item">
        <a class="tile notification gh-plugin is-vertical is-child"
           href="{{ site.baseurl }}{% link plugin.md %}">
          <div class="is-white is-pulled-right">
            <i data-feather="package" title="plugin"></i>
          </div>
          <h4 class="title is-size-5">Version 0.6</h4>
          <p class="subtitle"><br></p>
        </a>
      </div>

      {% assign everything = site.documentation | concat: site.techniques | concat: site.projects %}
      {% assign sorted = everything | sort: 'date' | reverse | limit:10 %}
      {% for item in everything %}

        {% if item.thumbnail %}
          {% capture imagePath %}/assets/{{ item.path | remove_first: "_" | remove_first: ".md" }}/{{ item.name }}{{ item.thumbnail }}{% endcapture %}
        {% endif %}
        {% if item.collection == 'documentation' %}
          {% assign icon = 'book' %}
          {% assign color = 'rgba(142, 215, 89, 0.85)' %}
        {% endif %}
        {% if item.collection == 'techniques' %}
          {% assign icon = 'briefcase' %}
          {% assign color = 'rgba(233, 185, 56, 0.85)' %}
        {% endif %}
        {% if item.collection == 'projects' %}
          {% assign icon = 'aperture' %}
          {% assign color = 'rgba(246, 112, 140, 0.85)' %}
        {% endif %}

        <div class="column is-one-third masonry-item">
          <a class="tile notification is-vertical is-child gh-{{ item.collection }}" href="{{ item.url }}"
             style="background: linear-gradient({{ color }}, {{ color }}),
                                50% 50% url('{{ imagePath | absolute_url }}');">
            <div class="is-white is-pulled-right">
              <i data-feather="{{ icon }}"></i>
            </div>
            <h4 class="title is-size-5">{{ item.title }}</h4>
            <p>{{ item.excerpt }}</p>
          </a>
        </div>

      {% endfor %}

    </div>
  </div>
</section>
