---
layout: default
---

<section class="hero gh-{{ page.collection|downcase }}-bg">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        {{ page.title }}
      </h1>
      <h4>
        {{ page.year }} / {{ page.location }} / {{ page.designers }}
      </h4>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    File details go here

  </div>
</section>

<section class="section">
  <div class="container">

    {{ content }}

  </div>
</section>

<section class="section">
  <div class="container">

    {% if page.collection != 'techniques' %}
      <h4>Related Techniques</h4>
      {% for item in site.techniques %}
        {% if item.categories contains cat %}
          {% include list-page.html %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if page.collection != 'documentation' %}
      <h4>Related Documentation</h4>
      {% for item in site.documentation %}
        {% if item.categories contains cat %}
          {% include list-page.html %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if page.collection != 'projects' %}
      <h4>Related Projects</h4>
      {% for item in site.projects %}
        {% if item.categories contains cat %}
          {% include list-page.html %}
        {% endif %}
      {% endfor %}
    {% endif %}

  </div>
</section>