---
layout: default
---

<h1>{{ page.title }}</h1>

<main class="">

Discussion of this technique: {{ content }}

</main>


Related projects:

{% assign cat = page.title|downcase %}

<ul>
  {% for project in site.projects %}
    {% if project.categories contains cat %}
      <li><a href="{{ project.url }}">{{ project.title }}</a>HERE</li>
      <hr>
    {% endif %}
  {% endfor %}
</ul>

Related components:

<ul>
  {% for document in site.documentation %}
    {% if document.categories contains cat %}
      <li><a href="{{ document.url }}">{{ document.title }}</a>HERE</li>
      <hr>
    {% endif %}
  {% endfor %}
</ul>