<div class="section">
  <div class="container content">

    <article class="message is-warning">
      <div class="message-body">

        <div class="columns">

          <div class="column is-narrow gh-message-icon">
            <i data-feather="info"></i>
          </div>

          <div class="column">
            Groundhog is currently in beta. The plugin and this site will be updated with more features and information over the course of 2018.
          </div>

        </div>

      </div>
    </article>

  </div>
</div>