{%- capture basePath -%}
  /assets/img/{{ page.slug }}/{{ include.image }}
{%- endcapture -%}

<figure class="gh-figure">
  <a class="image-link" href="{{ basePath }}-original.jpeg" target="_blank">
    <picture>
      <source media="(min-width: 1200px)" srcset="{{ basePath }}-large.webp,  {{ basePath }}-large@2x.webp 2x" type="image/webp">
      <source media="(min-width: 1200px)" srcset="{{ basePath }}-large.jpeg,  {{ basePath }}-large@2x.jpeg 2x">
      <source media="(min-width:  800px)" srcset="{{ basePath }}-medium.webp, {{ basePath }}-medium@2x.webp 2x" type="image/webp">
      <source media="(min-width:  800px)" srcset="{{ basePath }}-medium.jpeg, {{ basePath }}-medium@2x.jpeg 2x">
      <source media="(max-width:  799px)" srcset="{{ basePath }}-small.webp,  {{ basePath }}-small@2x.webp 2x" type="image/webp">
      <source media="(max-width:  799px)" srcset="{{ basePath }}-small.jpeg,  {{ basePath }}-small@2x.jpeg 2x">
      <!-- Fallback -->
      <img src="{{ basePath }}-small.jpeg" alt="{%- if include.alt -%}{{ include.alt }}{%- else %}{{ include.caption }}{%- endif -%}">
    </picture>
  </a>
  {%- if include.caption or include.credit -%}
  <figcaption>
    {% if include.caption %}<p>{{ include.caption }}</p>{% endif %}
    {% if include.credit %}<em>{{ include.credit }}</em>{% endif %}
  </figcaption>
  {%- endif -%}
</figure>
