<footer class="footer no-print">
  <div class="container content gh-{{ current }}-content has-text-centered">

    <nav class="level">
      <a class="level-item" href="/about">
        <i data-feather="help-circle"></i> About
      </a>
      <a class="level-item" href="/plugin">
        <i data-feather="package"></i> Plugin
      </a>
      <a class="level-item" href="/documentation">
        <i data-feather="book"></i> Docs
      </a>
      <a class="level-item" href="/techniques">
        <i data-feather="briefcase"></i> Techniques
      </a>
      <a class="level-item" href="/projects">
        <i data-feather="aperture"></i> Projects
      </a>
      <a class="level-item" href="https://github.com/philipbelesky/groundhog" target="_blank">
        <i data-feather="github"></i> Github
      </a>
      <!--
      <a class="level-item" href="" target="_blank">
        <i data-feather="download-cloud"></i> Food4Rhino
      </a>
      -->
      <a class="level-item" href="http://eepurl.com/c-0nNL" target="_blank">
        <i data-feather="mail"></i> Newsletter
      </a>
      <!--
      <a class="level-item" href="https://www.facebook.com/groundhog.la/" target="_blank">
        <i data-feather="facebook"></i> Facebook
      </a>
      <a class="level-item" href="https://twitter.com/groundhog_la" target="_blank">
        <i data-feather="twitter"></i> Twitter
      </a>
      -->
    </nav>

    <p class="">
      <em>The Groundhog plugin and website are © {{ now() | date(format="%Y") }} under the terms of the <a href="https://opensource.org/licenses/GPL-3.0">GPL v3 License</a>.</em>
    </p>

  </div>
</footer>
