<!DOCTYPE html>
<html lang="en">

  {% include "structural/head.html" %}
  <body>

    {# set current = page.section | lower #}
    {% set current = "TODO" %}

    {% include "structural/menu.html" %}

    <main class="content gh-{{ current }}-content is-fluid footer-pushdown" aria-label="Content">
      {%- block content -%}{%- endblock content -%}
    </main>

    {% include "structural/footer.html" %}

  </body>

  <script src="{{ config.base_url }}{{ config.base_url|safe }}/main.js"></script>
  <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>

</html>
