---
layout: default
---

<section class="hero gh-{{ page.collection | downcase }}">
  <div class="hero-body has-text-left">
    <div class="container">
      <h1 class="title is-1">
        {{ page.title }}
      </h1>
      <div class="level gh-meta-info">
        {% if page.designers %}
          <div class="level-item is-narrow gh-left-padding">
            <h5 class="subtitle"><i data-feather="users"></i>{{ page.designers }}</h5>
          </div>
        {% endif %}
        {% if page.location %}
          <div class="level-item is-narrow gh-left-padding">
            <h5 class="subtitle"><i data-feather="map"></i>{{ page.location }}</h5>
          </div>
        {% endif %}
        {% if page.year %}
          <div class="level-item is-narrow">
            <h5 class="subtitle"><i data-feather="clock"></i>{{ page.year }}</h5>
          </div>
        {% endif %}
      </div>
      <h2 class="subtitle">
        {{ page.excerpt }}
      </h2>
    </div>
  </div>
</section>

<section class="section">

  <div class="container">

    {% if page.files %}
      {% include "elements/files.html" %}
    {% endif %}

    {{ content }}

  </div>
</section>
