{%- extends "default.html" -%}

{%- block content -%}

  <section class="hero {% if page.current_path %}gh-{{ page.current_path | lower | trim_end_matches(pat=".md") }}{% endif %}">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1 is-size-2-mobile">
          {% if section.title %}{{ section.title }}{% endif %}
        </h1>
        <h2 class="subtitle is-size-4-mobile">
          {% if section.extra.excerpt %}{{ section.extra.excerpt }}{% endif %}
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      {% if section.content %}
        {{ section.content | safe }}
      {% endif %}

    </div>
  </section>

    {% set items = section.pages %}
    {% include "list-page.html" %}

{%- endblock content -%}
