{% set collection = page.components.0 %}

{% set icon = '' %}
{% set color = 'rgba(0, 0, 0, 0)' %}
{% if collection == 'documentation' %}
  {% set icon = 'book' %}
  {% set color = 'rgba(142, 215, 89, 0.90)' %}
{% endif %}
{% if collection == 'techniques' %}
  {% set icon = 'briefcase' %}
  {% set color = 'rgba(233, 185, 56, 0.90)' %}
{% endif %}
{% if collection == 'projects' %}
  {% set icon = 'aperture' %}
  {% set color = 'rgba(246, 112, 140, 0.90)' %}
{% endif %}

{% if collection == 'plugin' %}
  {% set icon = 'package' %}
  {% set color = 'rgba(114, 227, 210, 0.90)' %}
  {% set thumbnailAssetPath = '{{ config.base_url|safe }}/plugin/thumbnail.png' %}
{% else %}
  {% set thumbnailFullPath = "../static/" ~ collection ~ "/" ~ page.slug ~ "/thumbnail.jpg" %}
  {% set thumbnailAssetPath = thumbnailFullPath %}
{% endif %}
{% set thumbnail = resize_image(path=thumbnailAssetPath, width=400, quality=75, op='fit_width') -%}

<div class="column is-one-third masonry-page">
  <a class="tile notification is-vertical is-child gh-{{ collection }}" href="{{ page.permalink }}"
     style="background: linear-gradient({{ color }}, {{ color }}), 50% 50% url('{{ thumbnail }}'); background-size: cover;">

    <div class="is-white is-pulled-right">
      <i data-feather="{{ icon }}"></i>
    </div>

    <h4 class="title">{{ page.title }}</h4>
    <p>{% if page.extra.excerpt %}{{ page.extra.excerpt }}{% endif %}</p>

  </a>
</div>
