
{% if include.collection %}
  {% set collection = include.section.title | lower %}
{% else %}
  {#{% set collection = item.section.title | lower %}#}
  {% set collection = "test" %}
{% endif %}

{% set icon = '' %}
{% set color = 'rgba(0, 0, 0, 0)' %}
{% if collection == 'documentation' %}
  {% set icon = 'book' %}
  {% set color = 'rgba(142, 215, 89, 0.90)' %}
{% endif %}
{% if collection == 'techniques' %}
  {% set icon = 'briefcase' %}
  {% set color = 'rgba(233, 185, 56, 0.90)' %}
{% endif %}
{% if collection == 'projects' %}
  {% set icon = 'aperture' %}
  {% set color = 'rgba(246, 112, 140, 0.90)' %}
{% endif %}

{% if collection == 'plugin' %}
  {% set icon = 'package' %}
  {% set color = 'rgba(114, 227, 210, 0.90)' %}
  {% set thumbnailAssetPath = '{{ config.base_url|safe }}/plugin/thumbnail.png' %}
{% else %}
  {% set thumbnailFullPath = config.base_url ~ "/img/" ~ item.slug ~ "thumbnail-medium.jpg" %}
  {% set thumbnailAssetPath = thumbnailFullPath %}
{% endif %}

<div class="column masonry-item">
  <a class="tile notification is-vertical is-child gh-{{ collection }}" href="{{ item.permalink }}"
     style="background: linear-gradient({{ color }}, {{ color }}), 50% 50% url('{{ thumbnailAssetPath }}'); background-size: cover;">

    <div class="is-white is-pulled-right">
      <i data-feather="{{ icon }}"></i>
    </div>

    <h4 class="title">{{ item.title }}</h4>
    <p>{% if item.excerpt %}{{ item.excerpt }}{% endif %}</p>

  </a>
</div>
